extends layout

block head
    title='Contacts'

block content
    each contact in contacts
        .card.contact-card
            .card-content
                .media
                    .media-left
                        figure.image.is-48x48
                            img(src="https://bulma.io/images/placeholders/96x96.png", alt="User Image")
                    .media-content
                        p.content
                            em #{contact._id}
                        p.title.is-4.has-text-weight-bold #{contact.name}
                        p.subtitle.is-6 #{contact.phone} 
                span.delete-contact.delete.has-background-danger(data-id=contact._id, title="Delete")